* {
	color: white;
	font-family: Consolas;
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
}
.container {
	text-align: center;
	background-color: #222222;
	overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.title {
	width: 100%;
	font-size: 8vw;
}
.skew {
	transform: skewX(-30deg);
	-webkit-filter: blur(0.6vw);
}
h2 {
	font-size: 3vw;
	font-weight: normal;
	color: #AAAAAA;
}
h3 {
	font-size: 6vw;
}
p {
	text-align: left;
	font-size: 4vw;
	padding-left: 10vw;
	padding-right: 10vw;
}
button {
	border-radius: 1vw;
	border-width: 0.3vw;
	border-style: solid;
	border-color: white;
	color: white;
	padding: 1.5vw;
	background-color: rgba(0,0,0,0);
	font-size: 3vw;
	transition: background-color 0.3s, color 0.3s;
}
button.active {
	cursor: pointer;
}
button.active:hover {
	background-color: white;
	color: #222222;
}
.slow-printing {
	position: absolute;
	padding-left: 0;
}
.slow-printing::after {
	content: "|";
	position: relative;
	left: -0.8vw;
}